<div class="row">
  <div class="col-sm">
    <form action="/linktool/selectToDispose" method="POST">
    <div class="form-group">
    <label for="linkInfo">Input your link information</label>
    <textarea class="form-control" name="linkInfo" id="linkInfo" cols="30" rows="10"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  </div>
</div>
