<div class="container-fluid">
    <h1>Welcome to {{title}}</h1>
    <form action="">
        <div class="row">
            <div class="form-group col-sm-7 col-xs-12">
                <label for="code"><h3>Paste your email code below</h3></label>
                <textarea class="form-control" name="code" id="code" cols="30" rows="30"></textarea>
            </div>
            <div class="form-group col-sm-5 col-xs-12">
                <label for="alias"><h3>Paste your alias from CWS to below</h3></label>
                <textarea class="form-control" name="alias" id="alias" cols="30" rows="30"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<div id="container"></div>
<script src="/js/linktool-compiled.js"></script>